.rePassword {
    .login {
        .loginWraper {
            .LoginLeft {
                border-right:none !important;
                input {
                    height: 50px !important;
                    border-radius: 5px !important;
                }
                button {
                    height: 50px !important;
                    border-radius: 5px !important;
                }
            }
        }
    }
    
}